*{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: sans-serif;
    font-weight: 600;
    box-sizing: border-box; 
    
}
body{
    background: rgb(237, 213, 223);
}
.card{
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    color: black;
    height: 400px;
    width: 600px;
    padding: 40px;
    margin: 180px auto;
    border-radius: 15px;
   border: 3px solid rgb(212, 198, 114);
   
    
}
.name{
    text-transform: capitalize;
    margin-bottom: 10px;
    letter-spacing: 3px;
    font-weight: 500;
}
.title{
    text-transform: capitalize;
    margin-bottom:10px ;
}
.description{
    margin-bottom: 20px;
}
span{
    text-transform: capitalize;
    color: rgb(136, 7, 119);
    font-weight: bolder;
    
}

.btn{
    background-color: rgb(8, 38, 233);
    padding: 15px;
    border-radius: 10px;
    color: white;
    text-transform: capitalize;
    border: 2px;
    
    
}
